[Unit]
Description=Governance Event Collector
After=network.target

[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v14.15.4/bin/node /home/ubuntu/governance/Governance-Backend/dist/src/eventCollector.js
Restart=always
# User=backend
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
# Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/governance/Governance-Backend

[Install]
WantedBy=multi-user.target
